
@import 'colors/one-dark.css';


* {
    border: none;
    border-radius: 0;
    font-family: "SF Pro Dislay", "JetBrainsMono Nerd Font Propo";
    font-size: 16px;
    min-height: 0;
    margin: 0;
    padding: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#workspaces {
    transition: all 1050ms ease-in-out;
}

#workspaces button {
    transition: all 550ms ease-in-out;
    border-radius: 50px;
    padding: 0 5px;
    background: #121212;
    color: white;
    border-bottom: 3px solid transparent;
    font-weight: 500;
}

#workspaces button.active {
   min-width: 50px;
   background: #ffffff;
   color: #121212;
   border-radius: 100px;
   font-weight: 700;
}





#clock {
    font-weight: 700;
}

#battery, 
#pulseaudio,
#network,
#custom-notification {
    background-color: #ffffff;
    color: #121212;
    padding: 0 5px;
    margin: 0 10px;
    border-radius: 8px;
}

#pulseaudio {
    background-color: #bde8e4;
}

#network {
    background-color: #c3aad8;
}

#pulseaudio-slider {
    padding: 0;
    margin: 0;
}
#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 80px;
    border-radius: 5px;
    background: black;
}
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background: #c3aad8;
}

#custom-notification {
    background: transparent, 20%;
}






